@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
}
body {
    background-image: url(img/background3.jpg);
    /* background-position: center; */
    background-size: cover;
    background-size: auto;
    background-repeat: no-repeat;
}
section {
    width: 100%;
    min-height: 100vh;
}
nav {
    height: 5rem;
    display: flex;
    padding: 0 7rem;
    position: relative;
    align-items: center;
    justify-content: space-between;
}
nav .icon-list {
    list-style: none;
    display: flex;
}
nav .icon-list li {
    margin: 0 2px;
    cursor: pointer;
}
nav .icon-list li a {
    display: inline-block;
    margin: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(125, 202, 24);
    text-align: center;
    transition: all 0.1s ease;
}
nav .icon-list li a i { 
    width: 100%;
    margin: auto;
    transition: all 0.3s ease;
    font-size: 16px;
    padding: 12px;
}
nav .icon-list li:hover a {
    background-color: aliceblue;
}
nav .icon-list li:hover i {
    color: rgb(125, 202, 24);
}
nav .nav-items {
    list-style: none;
    display: flex;
}
nav .nav-items li {
    padding: 0 10px;
}
nav .nav-items li a {
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 20px;
    transition: all 0.3s ease;
}
nav .nav-items li a:hover {
    background-color: rgb(125, 202, 24);
    color: aliceblue;
}