@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
}
body {
    background-image: url(img/background3.jpg);
    /* background-position: center; */
    background-size: cover;
    background-size: auto;
    background-repeat: no-repeat;
}
section {
    width: 100%;
    min-height: 100vh;
    /* background-color: rgba(48, 95, 5, 0.7); */
}